
.screen-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #9BB4B8;
    padding: 15px;
}
.ip {
    font-size: 0.9rem;
}
.op {
    font-size: 1.5rem;
}